<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/header :: header">-->
<title>Hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form role="form"  th:object="${posting}"
      method="post">
<div class="container">
    <label th:for="title">제목</label>
    <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요"
           th:class="'form-control'">
    <label th:for="content">내용</label>
    <input type="text" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요"
           th:class="'form-control'">

    <button type="submit" class="btn btn-primary">Submit</button>


</div>
    </form>
</body>
</html>